* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    background: #1f2937;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 20px;
    font-weight: bold;
}

.nav-right a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

.nav-right a.active {
    text-decoration: underline;
}

body {
    background: #f8fafc;
}

.main {
    width: 80%;
    margin: 60px auto;
}

h1 {
    font-size: 42px;
    margin-bottom: 30px;
}

.filter {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

select {
    padding: 12px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 16px;
    border: 2px solid #e2e8f0;
}

.card h3 {
    font-size: 26px;
}

.price {
    font-size: 22px;
    margin: 10px 0;
}

.tag {
    padding: 6px 14px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
}

.electronics {
    background: #2563eb;
}

.clothing {
    background: #93c5fd;
    color: #1e293b;
}
